*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  list-style: none;
  font-family: "Rubik", sans-serif;
}

body {
  min-width: 320px;
}

.container {
  max-width: 1110px;
  height: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.title {
  font-weight: 500;
  font-size: calc(20px + 15 * ((100vw - 320px) / (1440 - 320)));
  color: #0b132a;
  line-height: 50px;
  margin: 0 0 20px 0;
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  color: #4f5665;
  line-height: 30px;
}

.section {
  margin-top: calc(65px + 25 * ((100vw - 320px) / (1440 - 320)));
}

.main {
  height: 100%;
  position: relative;
  z-index: 3;
}

.main::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 20%;
  width: 60%;
  height: 10px;
  background-color: #0d1025d7;
  -webkit-filter: blur(110px);
          filter: blur(110px);
  border-radius: 10px;
  z-index: 1;
}

.main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 1;
}

.main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 5;
}

.main__welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 520px;
}

@media (max-width: 768px) {
  .main__welcome {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 420px;
  }
}

.main__text {
  width: calc(450px + 105 * ((100vw - 900px) / (1440 - 900)));
  margin: 0 45px 0 0;
  position: relative;
}

@media (max-width: 900px) {
  .main__text {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
}

.main__text::after {
  content: "";
  position: absolute;
  top: 0;
  left: 108%;
  width: calc(300px + 311 * ((100vw - 768px) / (1440 - 768)));
  height: calc(300px + 82 * ((100vw - 768px) / (1440 - 768)));
  background-image: url(img/Illustration1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 900px) {
  .main__text::after {
    display: none;
  }
}

.main__title {
  color: #0b132a;
  font-size: calc(20px + 25 * ((100vw - 320px) / (1440 - 320)));
  font-weight: 500;
  line-height: calc(45px + 25 * ((100vw - 320px) / (1440 - 320)));
  margin: 0 0 20px 0;
}

.main__title span {
  font-weight: 700;
}

@media (max-width: 900px) {
  .main__title {
    text-align: center;
  }
}

.main__subtitle {
  color: #4f5665;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 0 50px 0;
}

.main__subtitle span {
  font-weight: 500;
}

@media (max-width: 900px) {
  .main__subtitle {
    text-align: center;
  }
}

.main__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  height: 60px;
  border-radius: 10px;
  background-color: #f53838;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.main__button:hover {
  background-color: #d80000;
}

.main__button::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 19px;
  width: 211px;
  height: calc(15px + 45 * ((100vw - 320px) / (1440 - 320)));
  background-color: rgba(245, 56, 56, 0.35);
  border-radius: 10px;
  -webkit-filter: blur(35px);
          filter: blur(35px);
}

.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 200px;
  position: relative;
  background-color: #ffffff;
}

.advantage__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 125px;
  background-color: #ffffff;
}

.advantage__block:not(:last-child) {
  border-right: 2px solid #eeeff2;
}

@media (max-width: 650px) {
  .advantage__block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 120px;
    position: relative;
  }
  .advantage__block:not(:last-child) {
    border-bottom: none;
    border-right: none;
  }
  .advantage__block:not(:last-child)::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 25%;
    background-color: #eeeff2;
    width: 50%;
    height: 2px;
  }
}

.advantage__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 650px) {
  .advantage__content {
    width: 150px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.advantage__icon {
  width: 55px;
  height: 55px;
  margin: 0 36px 0 0;
}

.advantage__text {
  color: #4f5665;
  font-size: 15px;
  font-weight: 400;
}

.advantage__text span {
  color: #0b132a;
  display: block;
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 5px 0;
}

@media (max-width: 650px) {
  .advantage__text span {
    margin: 0;
  }
}

@media (max-width: 650px) {
  .advantage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
}

.features {
  height: calc(400px + 240 * ((100vw - 320px) / (1440 - 320)));
}

.features__body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 900px) {
  .features__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.features__image {
  height: calc(245px + 169 * ((100vw - 900px) / (1440 - 900)));
  width: 508px calc(300px + 208 * ((100vw - 900px) / (1440 - 900)));
  margin: 0 150px 0 0;
}

@media (max-width: 900px) {
  .features__image {
    display: none;
  }
}

.features__text {
  width: 439px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 900px) {
  .features__text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

@media (max-width: 900px) {
  .features__title {
    text-align: center;
  }
}

.features__subtitle {
  margin: 0 0 20px 0;
}

@media (max-width: 900px) {
  .features__subtitle {
    text-align: center;
  }
}

.features__list li {
  font-size: 14px;
  color: #4f5665;
  font-weight: 400;
  line-height: 30px;
  padding: 0 0 0 34px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 24px;
}

.features__list li::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  background-image: url(img/Group1120.png);
}

.features__list li + li {
  margin-top: 21px;
}

.plan__body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plan__title {
  width: 555px;
  text-align: center;
}

@media (max-width: 700px) {
  .plan__title {
    width: 100%;
  }
}

.plan__subtitle {
  width: 555px;
  margin: 0 0 60px 0;
  text-align: center;
}

@media (max-width: 700px) {
  .plan__subtitle {
    width: 100%;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 666px) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 290px;
  height: calc(620px + 170 * ((100vw - 320px) / (1440 - 320)));
  border: 2px solid #dddddd;
  border-radius: 10px;
  padding: calc(20px + 59 * ((100vw - 320px) / (1440 - 320))) calc(15px + 53 * ((100vw - 320px) / (1440 - 320))) calc(15px + 35 * ((100vw - 320px) / (1440 - 320))) calc(15px + 53 * ((100vw - 320px) / (1440 - 320)));
}

.card__item:not(:last-child) {
  margin-right: calc(15px + 35 * ((100vw - 666px) / (1440 - 666)));
}

@media (max-width: 1000px) {
  .card__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.card__image {
  width: calc(80px + 64 * ((100vw - 320px) / (1440 - 320)));
  height: calc(91px + 74 * ((100vw - 320px) / (1440 - 320)));
  margin-bottom: 30px;
}

.card__title {
  line-height: 30px;
  font-size: 18;
  font-weight: 500;
  margin-bottom: 30px;
  color: #0b132a;
}

.card__list {
  width: 190px;
  margin-bottom: 50px;
}

.card__list li {
  font-size: 14px;
  color: #4f5665;
  font-weight: 400;
  line-height: 30px;
  padding: 0 0 0 44px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 24px;
}

.card__list li::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  background-image: url(img/Group1223.png);
}

.card__list li + li {
  margin-top: 21px;
}

.card__buy {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__price {
  color: #4f5665;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 20px;
}

.card__price span {
  color: #0b132a;
  font-weight: 500;
}

.card__button {
  width: 177px;
  height: 45px;
  border: 2px solid #f53838;
  font-size: 16px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f53838;
  line-height: 19px;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.card__button:hover {
  background-color: #f53838;
  color: white;
}

.card__item-checked {
  border: 2px solid #f53838;
}

.card__button-checked {
  background-color: #f53838;
  color: #ffffff;
}

.map__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map__title {
  margin-top: calc(0px + 64 * ((100vw - 320px) / (1440 - 320)));
  width: 383px;
  text-align: center;
}

@media (max-width: 900px) {
  .map__title {
    width: 100%;
  }
}

.map__subtitle {
  margin-bottom: calc(20px + 135 * ((100vw - 320px) / (1440 - 320)));
  width: 555px;
  text-align: center;
}

.map__subtitle span {
  font-weight: 500;
}

@media (max-width: 900px) {
  .map__subtitle {
    width: 100%;
  }
}

.map__map {
  width: 100%;
  padding: 0 40px;
}

.map__map img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .map__map {
    padding: 0;
  }
}

.sponsored {
  margin-top: calc(5px + 80 * ((100vw - 320px) / (1440 - 320)));
  margin-bottom: calc(0px + 50 * ((100vw - 320px) / (1440 - 320)));
  height: 55px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sponsored__item {
  width: 150px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.sponsored__item:hover {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.sponsored__item:nth-child(1) {
  background-image: url(img/netflix.png);
}

.sponsored__item:nth-child(2) {
  background-image: url(img/reddit.png);
}

.sponsored__item:nth-child(3) {
  background-image: url(img/amazon.png);
  background-size: 130%;
}

.sponsored__item:nth-child(4) {
  background-image: url(img/discord.png);
}

.sponsored__item:nth-child(5) {
  background-image: url(img/spotify.png);
}

.reviews {
  overflow: hidden;
  margin-bottom: 65px;
  height: 100%;
}

.reviews__body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}

.reviews__title {
  width: 447px;
  text-align: center;
}

@media (max-width: 900px) {
  .reviews__title {
    width: 100%;
  }
}

.reviews__subtitle {
  width: 555px;
  margin-bottom: calc(20px + 40 * ((100vw - 320px) / (1440 - 320)));
  text-align: center;
}

@media (max-width: 900px) {
  .reviews__subtitle {
    width: 100%;
  }
}

.slider {
  width: 100%;
  min-height: 350px;
}

.slider__wrapper {
  min-height: 250px;
  height: auto;
  width: 100%;
  position: relative;
}

.slider__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0px;
  left: 0;
  height: 100%;
}

.slider__item {
  width: calc(260px + 140 * ((100vw - 320px) / (1440 - 320)));
  height: 100%;
  padding: 30px 56px 30px 30px;
  border: 2px solid #dddddd;
  border-radius: 10px;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}

@media (max-width: 768px) {
  .slider__item {
    padding: 20px 40px 20px 20px;
  }
}

.slider__item + .slider__item {
  margin-left: 50px;
}

.btn-slider {
  margin-top: calc(40px + 20 * ((100vw - 320px) / (1440 - 320)));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-slider__nav {
  position: relative;
  height: 15px;
}

.btn-slider__nav a + a {
  margin-left: 15px;
}

.btn-slider__point {
  display: inline-block;
  width: calc(10px + 5 * ((100vw - 320px) / (1440 - 320)));
  height: calc(10px + 5 * ((100vw - 320px) / (1440 - 320)));
  border-radius: 50%;
  background-color: #DDE0E4;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-slider__point-checked {
  width: calc(30px + 15 * ((100vw - 320px) / (1440 - 320)));
  background-color: #f53838;
  border-radius: 60px;
}

.btn-slider__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-slider__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(30px + 30 * ((100vw - 320px) / (1440 - 320)));
  height: calc(30px + 30 * ((100vw - 320px) / (1440 - 320)));
  border-radius: 50%;
  border: 2px solid #f53838;
  cursor: pointer;
}

.btn-slider__button--right {
  background-color: #f53838;
}

.btn-slider__button img {
  width: calc(20px + 10 * ((100vw - 320px) / (1440 - 320)));
  height: calc(20px + 10 * ((100vw - 320px) / (1440 - 320)));
}

.btn-slider__button + .btn-slider__button {
  margin-left: 20px;
}

.user-checked {
  border: 2px solid #f53838;
}

.user__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 20px 0;
}

.user__picture {
  width: calc(40px + 10 * ((100vw - 320px) / (1440 - 320)));
  height: calc(40px + 10 * ((100vw - 320px) / (1440 - 320)));
  margin: 0 20px 0 0;
}

.user__name {
  font-size: calc(15px + 3 * ((100vw - 320px) / (1440 - 320)));
  font-weight: 500;
  margin-right: auto;
}

.user__location {
  display: block;
  font-size: calc(13px + 3 * ((100vw - 320px) / (1440 - 320)));
  font-weight: 400;
}

.user__rating {
  font-size: calc(12px + 4 * ((100vw - 320px) / (1440 - 320)));
  font-weight: 400;
  position: relative;
}

.user__rating::after {
  content: "";
  position: absolute;
  top: 0;
  left: 34px;
  width: 16px;
  height: 16px;
  background-image: url(img/star.png);
}

.user__text {
  font-size: calc(12px + 4 * ((100vw - 320px) / (1440 - 320)));
  font-weight: 400;
  line-height: 30px;
  width: 100%;
}

.subscribe__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 233px;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.075);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.075);
  padding: 58px 70px;
  margin-bottom: -117px;
  position: relative;
  z-index: 5;
}

@media (max-width: 800px) {
  .subscribe__body {
    padding: 20px;
  }
}

@media (max-width: 700px) {
  .subscribe__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 250px;
  }
}

.subscribe__text {
  width: 360px;
}

@media (max-width: 500px) {
  .subscribe__text {
    width: 100%;
    line-height: 100%;
  }
}

@media (max-width: 700px) {
  .subscribe__title {
    text-align: center;
    margin-bottom: 10px;
  }
}

@media (max-width: 700px) {
  .subscribe__subtitle {
    text-align: center;
  }
}

.subscribe__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 250px;
  height: 60px;
  background-color: #f53838;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

@media (max-width: 700px) {
  .subscribe__btn {
    margin-top: 10px;
  }
}

.subscribe__btn:hover {
  background-color: #d80000;
}
